# Model Building

## Attaching Resources

### Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import pairwise_distances
import pickle

import warnings

warnings.filterwarnings('ignore')

### Adding Dataset

In [ ]:
new = pd.read_excel(r"C:\Users\ASUS\OneDrive\Documents\GitHub\Book_Recommendation\resources\new.xlsx")

new

,ISBN,Book-Title,Country,auther,publisher,image
0,971880107,Wild Animus,usa,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
1,316666343,The Lovely Bones: A Novel,usa,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
2,60928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,usa,Anita Diamant,Picador USA,http://images.amazon.com/images/P/0312195516.0...
3,385504209,The Da Vinci Code,usa,DAN BROWN,Doubleday,http://images.amazon.com/images/P/0739307312.0...
4,312195516,The Red Tent (Bestselling Backlist),usa,Anita Diamant,Picador USA,http://images.amazon.com/images/P/0312195516.0...
5,971880107,Wild Animus,canada,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
6,316666343,The Lovely Bones: A Novel,canada,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
7,671021001,She's Come Undone (Oprah's Book Club),canada,Wally Lamb,Pocket,http://images.amazon.com/images/P/0671021001.0...
8,312195516,The Red Tent (Bestselling Backlist),canada,Anita Diamant,Picador USA,http://images.amazon.com/images/P/0312195516.0...
9,440241073,The Summons,canada,John Grisham,Dell Publishing Company,http://images.amazon.com/images/P/0440241073.0...
10,971880107,Wild Animus,united kingdom,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
11,99771519,Memoirs of a Geisha Uk,united kingdom,Arthur Golden,Trafalgar Square,http://images.amazon.com/images/P/0099771519.0...
12,1844262553,Free,united kingdom,Paul Vincent,Upfront Publishing,http://images.amazon.com/images/P/1844262553.0...
13,330332775,Bridget Jones's Diary,united kingdom,Helen Fielding,Picador (UK),http://images.amazon.com/images/P/0330332775.0...
14,552998486,Chocolat,united kingdom,Joanne Harris,Black Swan,http://images.amazon.com/images/P/0552998486.0...
15,971880107,Wild Animus,germany,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
16,3442541751,Russendisko.,germany,Wladimir Kaminer,Goldmann,http://images.amazon.com/images/P/3442541751.0...
17,3492238696,Balzac und die kleine chinesische Schneiderin.,germany,Dai Sijie,Piper,http://images.amazon.com/images/P/3492238696.0...
18,3442453305,Herr Lehmann.,germany,Sven Regener,Goldmann,http://images.amazon.com/images/P/3442453305.0...
19,3404148665,llluminati.,germany,Dan Brown,NaN,http://images.amazon.com/images/P/3404148665.0...
20,8420478725,LA Caverna De Las Ideas,spain,Jose Carlos Somoza,Aguilar,http://images.amazon.com/images/P/8420478725.0...
21,8433925180,El Antropologo Inocente,spain,Nigel Barley,Anagrama,http://images.amazon.com/images/P/8433925180.0...
22,8495501074,Ensayo sobre la ceguera,spain,Jose Saramago,Santillana USA Publishing Company,http://images.amazon.com/images/P/8495501074.0...
23,8495618605,El Codigo Da Vinci / The Da Vinci Code,spain,Dan Brown,Ediciones Urano,http://images.amazon.com/images/P/8495618605.0...
24,950491036X,La Sombra del Viento,spain,Carlos Ruiz Zafon,Planeta,http://images.amazon.com/images/P/950491036X.0...
25,971880107,Wild Animus,adult,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
26,316666343,The Lovely Bones: A Novel,adult,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
27,385504209,The Da Vinci Code,adult,DAN BROWN,Doubleday,http://images.amazon.com/images/P/0739307312.0...
28,60928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,adult,Rebecca Wells,HarperAudio,http://images.amazon.com/images/P/069452008X.0...
29,671027360,Angels &amp; Demons,adult,Dan Brown,Pocket Star,http://images.amazon.com/images/P/0671027360.0...
30,971880107,Wild Animus,youngster,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
31,316666343,The Lovely Bones: A Novel,youngster,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
32,316769487,The Catcher in the Rye,youngster,J.D. Salinger,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...
33,385504209,The Da Vinci Code,youngster,DAN BROWN,Doubleday,http://images.amazon.com/images/P/0739307312.0...
34,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,youngster,J. K. Rowling,Arthur A,http://images.amazon.com/images/P/059035342X.0...
35,971880107,Wild Animus,teenager,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
36,312979479,And Then There Were None : A Novel,teenager,Agatha Christie,St. Martin's Paperbacks,http://images.amazon.com/images/P/0312979479.0...
37,446310786,To Kill a Mockingbird,teenager,Harper Lee,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...
38,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,teenager,J. K. Rowling,Arthur A,http://images.amazon.com/images/P/059035342X.0...
39,440219078,The Giver (21st Century Reference),teenager,LOIS LOWRY,Laure Leaf,http://images.amazon.com/images/P/0440219078.0...
40,971880107,Wild Animus,elder,Rich Shapero,Too Far,http://images.amazon.com/images/P/0971880107.0...
41,385504209,The Lovely Bones: A Novel,elder,Alice Sebold,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
42,440241073,The Da Vinci Code,elder,DAN BROWN,Doubleday,http://images.amazon.com/images/P/0739307312.0...
43,316666343,Divine Secrets of the Ya-Ya Sisterhood: A Novel,elder,Rebecca Wells,Perennial,http://images.amazon.com/images/P/0060928336.0...
44,067976402X,Angels &amp; Demons,elder,Dan Brown,Pocket Star,http://images.amazon.com/images/P/0671027360.0...
45,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,children,J. K. Rowling,Arthur A,http://images.amazon.com/images/P/059035342X.0...
46,439049962,Captain Underpants and the Invasion of the Inc...,children,Dav Pilkey,Scholastic,http://images.amazon.com/images/P/0439049954.0...
47,64407667,The Bad Beginning (A Series of Unfortunate Eve...,children,Lemony Snicket,HarperCollins,http://images.amazon.com/images/P/0064407667.0...
48,590483498,"Night of the Living Dummy (Goosebumps, No 7)",children,R. L. Stine,Scholastic,http://images.amazon.com/images/P/0590466178.0...
49,590453661,"Stay Out of the Basement (Goosebumps, No 2)",children,R. L. Stine,Scholastic,http://images.amazon.com/images/P/0590453661.0...

In [2]:
user = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Book_Recommendation/main/Data%20Preprocessing%20%26%20EDA/User.csv')

user

        User_Id           area        age type
0             1            usa      other  new
1             2            usa  Youngster  new
2             3         others      other  new
3             4         others   Teenager  new
4             5  unitedkingdom      other  new
...         ...            ...        ...  ...
278853   278854            usa      other  old
278854   278855  unitedkingdom      Adult  old
278855   278856         canada      other  old
278856   278857            usa      other  old
278857   278858         others      other  old

[278858 rows x 4 columns]

In [3]:
book = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Book_Recommendation/main/resources/Books.csv', encoding='latin-1')

book

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

#### Area

In [4]:
area=pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\GitHub\Book_Recommendation\Data Preprocessing & EDA\Area.csv")

area

         User-ID         ISBN  Book-Rating    country
0         276725   034545104X            0        usa
1         276726   0155061224            5        usa
2         276727   0446520802            0  australia
3         276729   052165615X            3    croatia
4         276729   0521795028            6    croatia
...          ...          ...          ...        ...
1149775   276704   1563526298            9        usa
1149776   276706   0679447156            0     canada
1149777   276709   0515107662           10        usa
1149778   276721   0590442449           10        usa
1149779   276723  05162443314            8        usa

[1149780 rows x 4 columns]

In [5]:
count_area = pd.DataFrame(
        {
            'INDEX' : area['User-ID'].value_counts().index,
            'COUNT' : area['User-ID'].value_counts().values
        }
    )

count_area

         INDEX  COUNT
0        11676  13602
1       198711   7550
2       153662   6109
3        98391   5891
4        35859   5850
...        ...    ...
105278  116180      1
105279  116166      1
105280  116154      1
105281  116137      1
105282  276723      1

[105283 rows x 2 columns]

In [6]:
d_area = count_area[count_area['COUNT'] < 100].loc[:,'INDEX'].values

In [7]:
drop_area = []

for i in range(len(d_area)):
    for j in area[area['User-ID'] == d_area[i]].index:
        drop_area.append(j)

In [8]:
area.drop(index=drop_area, inplace=True)

area

         User-ID        ISBN  Book-Rating country
412       276925  0006511929            0   spain
413       276925  002542730X           10   spain
414       276925  0060520507            0   spain
415       276925  0060930934            0   spain
416       276925  0060951303            0   spain
...          ...         ...          ...     ...
1149633   276680  1884910033            0     usa
1149634   276680  1888173408            7     usa
1149635   276680  1888173564            8     usa
1149636   276680  1888173572            0     usa
1149637   276680  1931561648            9     usa

[658805 rows x 4 columns]

#### Age

In [110]:
age=pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\GitHub\Book_Recommendation\Data Preprocessing & EDA\Age.csv")

age

         User-ID         ISBN  Book-Rating   Age_Type
0         276725   034545104X            0      Other
1         276726   0155061224            5      Other
2         276727   0446520802            0   Teenager
3         276729   052165615X            3   Teenager
4         276729   0521795028            6   Teenager
...          ...          ...          ...        ...
1149775   276704   1563526298            9      Other
1149776   276706   0679447156            0  Youngster
1149777   276709   0515107662           10      Adult
1149778   276721   0590442449           10   Teenager
1149779   276723  05162443314            8   Children

[1149780 rows x 4 columns]

In [111]:
count_age = pd.DataFrame(
        {
            'INDEX' : age['User-ID'].value_counts().index,
            'COUNT' : age['User-ID'].value_counts().values
        }
    )

count_age

         INDEX  COUNT
0        11676  13602
1       198711   7550
2       153662   6109
3        98391   5891
4        35859   5850
...        ...    ...
105278  116180      1
105279  116166      1
105280  116154      1
105281  116137      1
105282  276723      1

[105283 rows x 2 columns]

In [112]:
d_age = count_age[count_age['COUNT'] < 100].loc[:,'INDEX'].values

In [113]:
drop_age = []

for i in range(len(d_age)):
    for j in age[age['User-ID'] == d_age[i]].index:
        drop_age.append(j)

In [114]:
age.drop(index=drop_age, inplace=True)

age

         User-ID        ISBN  Book-Rating   Age_Type
412       276925  0006511929            0  Youngster
413       276925  002542730X           10  Youngster
414       276925  0060520507            0  Youngster
415       276925  0060930934            0  Youngster
416       276925  0060951303            0  Youngster
...          ...         ...          ...        ...
1149633   276680  1884910033            0      Adult
1149634   276680  1888173408            7      Adult
1149635   276680  1888173564            8      Adult
1149636   276680  1888173572            0      Adult
1149637   276680  1931561648            9      Adult

[658805 rows x 4 columns]

## Preparing Model From The Dataset

### Preparing Model Based On Age

#### Adult

In [115]:
Ad= age[age['Age_Type'] == 'Adult']

Ad

         User-ID        ISBN  Book-Rating Age_Type
1456      277427  002542730X           10    Adult
1457      277427  0026217457            0    Adult
1458      277427  003008685X            8    Adult
1459      277427  0030615321            0    Adult
1460      277427  0060002050            0    Adult
...          ...         ...          ...      ...
1149633   276680  1884910033            0    Adult
1149634   276680  1888173408            7    Adult
1149635   276680  1888173564            8    Adult
1149636   276680  1888173572            0    Adult
1149637   276680  1931561648            9    Adult

[448295 rows x 4 columns]

In [116]:
Adult = Ad.pivot_table(index='User-ID', columns='ISBN', values='Book-Rating')
Adult.fillna(0, inplace=True)

Adult

ISBN,0330299891,0375404120,0586045007,9022906116,9032803328,9044922564,9044922572,9044922718,9044923161,904492401X,...,THECATASTROPH,THEFLYINGACE,UNGRANDHOMMED,"YOUTELLEM,AND","\8887517452\""""","\8888809228\""""",b00005wz75,cn108465,cn113107,Ô½crosoft
User-ID,,,,,,,,,,,,,,,,,,,,,
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
Adult_similarity = 1 - pairwise_distances(Adult,metric='cosine')
np.fill_diagonal(Adult_similarity,0)

Adult_similarity = pd.DataFrame(Adult_similarity)
Adult_similarity.index = np.sort(Ad['User-ID'].unique())
Adult_similarity.columns = np.sort(Ad['User-ID'].unique())

Adult_similarity

,183,1435,1733,1903,2033,2276,2442,2766,2977,3363,...,275970,276018,276463,276538,276680,277427,277478,277639,278137,278188
183,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
1435,0.0,0.000000,0.001383,0.0,0.000000,0.000000,0.0,0.007951,0.0,0.018268,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
1733,0.0,0.001383,0.000000,0.0,0.000000,0.000000,0.0,0.001095,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
1903,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
2033,0.0,0.000000,0.000000,0.0,0.000000,0.046753,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.005546,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277427,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.020162,0.0,0.000000,...,0.006398,0.0,0.0,0.0,0.02951,0.0,0.0,0.0,0.000000,0.0
277478,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.015155,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
277639,0.0,0.000000,0.000000,0.0,0.000000,0.023342,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
278137,0.0,0.000000,0.000000,0.0,0.005546,0.000000,0.0,0.000000,0.0,0.000000,...,0.012370,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0
278188,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0

In [118]:
Adult_similarity1 = pd.DataFrame(
    {
        'user-1' : Adult_similarity.idxmax().index,
        'user-2' : Adult_similarity.idxmax().values
    }
)

Adult_similarity1

      user-1  user-2
0        183   52350
1       1435   16488
2       1733  180917
3       1903   59971
4       2033   14456
...      ...     ...
1244  277427  224340
1245  277478  141819
1246  277639   59038
1247  278137   20119
1248  278188  218569

[1249 rows x 2 columns]

#### Youngster

In [16]:
young= age[age['Age_Type'] == 'Youngster']

young

         User-ID        ISBN  Book-Rating   Age_Type
412       276925  0006511929            0  Youngster
413       276925  002542730X           10  Youngster
414       276925  0060520507            0  Youngster
415       276925  0060930934            0  Youngster
416       276925  0060951303            0  Youngster
...          ...         ...          ...        ...
1137996   273979  1563152894            0  Youngster
1137997   273979  1573229865            0  Youngster
1137998   273979  1582341567            0  Youngster
1137999   273979  1586481983            0  Youngster
1138000   273979  1885767404            0  Youngster

[41888 rows x 4 columns]

In [17]:
Youngster = young.pivot_table(index='User-ID', columns='ISBN', values='Book-Rating')
Youngster.fillna(0, inplace=True)

Youngster

ISBN,+0451197399,0 907 062 008,0000000030670,0001061615,0001643118,0001857134,0001900277,0001944711,0001981307,000221847X,...,B00013AWZY,B00013AX6W,B00016560M,B0001GMSV2,B0001PBXMS,B0002JV9PY,B0002K6K8O,CN108081,N0553212583>>,Narraciones
User-ID,,,,,,,,,,,,,,,,,,,,,
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
273113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
273979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
Youngster_similarity = 1 - pairwise_distances(Youngster,metric='cosine')
np.fill_diagonal(Youngster_similarity,0)

Youngster_similarity = pd.DataFrame(Youngster_similarity)
Youngster_similarity.index = np.sort(young['User-ID'].unique())
Youngster_similarity.columns = np.sort(young['User-ID'].unique())

Youngster_similarity

,254,882,2358,3827,6703,8936,9856,11629,12538,12824,...,257700,261379,264637,264657,268330,268657,271538,273113,273979,276925
254,0.000000,0.023211,0.0,0.000000,0.0,0.0,0.052029,0.00000,0.010525,0.029239,...,0.021816,0.0,0.000000,0.019970,0.0,0.064423,0.000000,0.009296,0.0,0.000000
882,0.023211,0.000000,0.0,0.000000,0.0,0.0,0.032278,0.00000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.038028,0.0,0.025165,0.000000,0.016807,0.0,0.043064
2358,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
3827,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.010107,0.0,0.000000,0.028573,0.000000,0.0,0.000000
6703,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268657,0.064423,0.025165,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.007889,0.004174,...,0.002803,0.0,0.000000,0.000000,0.0,0.000000,0.023318,0.000000,0.0,0.035415
271538,0.000000,0.000000,0.0,0.028573,0.0,0.0,0.000000,0.00000,0.000000,0.010583,...,0.000000,0.0,0.000000,0.000000,0.0,0.023318,0.000000,0.000000,0.0,0.000000
273113,0.009296,0.016807,0.0,0.000000,0.0,0.0,0.000000,0.01151,0.007258,0.000000,...,0.000000,0.0,0.011337,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
273979,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.025040,0.00000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.037192,0.0,0.000000,0.000000,0.000000,0.0,0.000000
276925,0.000000,0.043064,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.030995,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.035415,0.000000,0.000000,0.0,0.000000

In [19]:
Youngster_similarity1 = pd.DataFrame(
    {
        'user-1' : Youngster_similarity.idxmax().index,
        'user-2' : Youngster_similarity.idxmax().values
    }
)

Youngster_similarity1

     user-1  user-2
0       254  203075
1       882   37712
2      2358   82831
3      3827  211426
4      6703     254
..      ...     ...
142  268657  203075
143  271538  147141
144  273113  123883
145  273979  144194
146  276925   81207

[147 rows x 2 columns]

#### Other

In [20]:
ot= age[age['Age_Type'] == 'Other']

ot

         User-ID        ISBN  Book-Rating Age_Type
4330      278418  0006128831            0    Other
4331      278418  0006542808            5    Other
4332      278418  0020209606            0    Other
4333      278418  0020418809            0    Other
4334      278418  0020420900            0    Other
...          ...         ...          ...      ...
1144132   275020  1880985322            0    Other
1144133   275020  1880985330            8    Other
1144134   275020  1880985497            7    Other
1144135   275020  1888451181            0    Other
1144136   275020  1889703001            0    Other

[154256 rows x 4 columns]

In [21]:
Other = ot.pivot_table(index='User-ID', columns='ISBN', values='Book-Rating')
Other.fillna(0, inplace=True)

Other

ISBN,9022906116,0 7336 1053 6,000000000,0000000000,00000000000,0000000029841,0000018030,0001046438,000104687X,0001047213,...,O805063196,O880015152,O889950962,O9088446X,Q380708353,X000000000,Z380703475,ZR903CX0003,"\0432534220\""""","\2842053052\"""""
User-ID,,,,,,,,,,,,,,,,,,,,,
507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274549,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
Other_similarity = 1 - pairwise_distances(Other,metric='cosine')
np.fill_diagonal(Other_similarity,0)

Other_similarity = pd.DataFrame(Other_similarity)
Other_similarity.index = np.sort(ot['User-ID'].unique())
Other_similarity.columns = np.sort(ot['User-ID'].unique())

Other_similarity

,507,1424,2110,2891,3757,6242,6575,7105,7915,8066,...,268030,268110,269157,270554,271245,271622,274111,274549,275020,278418
507,0.000000,0.00000,0.0,0.026895,0.0,0.000000,0.014225,0.026833,0.000000,0.035280,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1424,0.000000,0.00000,0.0,0.013530,0.0,0.008823,0.015356,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.010561,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2891,0.026895,0.01353,0.0,0.000000,0.0,0.000000,0.027702,0.017522,0.000000,0.058912,...,0.009991,0.027704,0.0,0.018801,0.0,0.0,0.0,0.0,0.0,0.0
3757,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271622,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.007833,0.009380,0.000000,0.000000,...,0.000000,0.000000,0.0,0.026421,0.0,0.0,0.0,0.0,0.0,0.0
274111,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
274549,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.019454,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
275020,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.000000,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.009150,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
Other_similarity1 = pd.DataFrame(
    {
        'user-1' : Other_similarity.idxmax().index,
        'user-2' : Other_similarity.idxmax().values
    }
)

Other_similarity1

     user-1  user-2
0       507  180032
1      1424  175329
2      2110  250184
3      2891  216099
4      3757  105745
..      ...     ...
391  271622  175117
392  274111  132492
393  274549  154469
394  275020  224138
395  278418  215136

[396 rows x 2 columns]

#### Elder

In [24]:
el= age[age['Age_Type'] == 'Elder']

el

         User-ID        ISBN  Book-Rating Age_Type
36705       8782  002862615X            0    Elder
36706       8782  0060392452            0    Elder
36707       8782  006052510X            0    Elder
36708       8782  0060594330            0    Elder
36709       8782  0060938455            0    Elder
...          ...         ...          ...      ...
1136220   273190  1579549586            0    Elder
1136221   273190  1850816190            0    Elder
1136222   273190  1884592236            0    Elder
1136223   273190  1887655174           10    Elder
1136224   273190  1890035009            0    Elder

[6908 rows x 4 columns]

In [25]:
Elder = el.pivot_table(index='User-ID', columns='ISBN', values='Book-Rating')
Elder.fillna(0, inplace=True)

Elder

ISBN,0 7336 1053 6,0002236389,0002236400,0002570807,0004133439,0006121802,0006121810,0006127711,0006129455,0006129471,...,CARD#6720546,CARD#6819595,CARD#6913112,CARD#6920006,CARD#71176295,CARD#7196003,CARD#73100646,CARD#78183794,O753800055,PS3569E84K5
User-ID,,,,,,,,,,,,,,,,,,,,,
8782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114865,0.0,8.0,0.0,0.0,0.0,9.0,0.0,0.0,8.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
148744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
213150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240543,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
273190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
Elder_similarity = 1 - pairwise_distances(Elder,metric='cosine')
np.fill_diagonal(Elder_similarity,0)

Elder_similarity = pd.DataFrame(Elder_similarity)
Elder_similarity.index = np.sort(el['User-ID'].unique())
Elder_similarity.columns = np.sort(el['User-ID'].unique())

Elder_similarity

,8782,10030,13273,26516,58363,66680,76482,86947,88652,90766,...,148744,158606,159283,173481,187410,213150,224764,240543,267635,273190
8782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.017695,0.000000,0.0,0.000000,0.0,0.016151,0.000000,0.0,0.000000,0.000000
10030,0.000000,0.000000,0.020299,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
13273,0.000000,0.020299,0.000000,0.000000,0.000000,0.012050,0.017656,0.0,0.000000,0.0,...,0.021763,0.000000,0.0,0.017788,0.0,0.016825,0.007242,0.0,0.000000,0.000000
26516,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.025611,0.0,0.013084,0.002896,0.0,0.000000,0.000000
58363,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.012365,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.038113
66680,0.000000,0.000000,0.012050,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.017859,0.005872,0.0,0.013294,0.0,0.000000,0.046728,0.0,0.029266,0.000000
76482,0.000000,0.000000,0.017656,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.017658,0.000000
86947,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
88652,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.015762,0.020153,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.036900,0.000000
90766,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
95193,0.000000,0.000000,0.030659,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.013548,0.000000,0.0,0.000000,0.000000
114865,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
121726,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
148744,0.017695,0.000000,0.021763,0.000000,0.012365,0.017859,0.000000,0.0,0.015762,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.019092,0.014793,0.0,0.000000,0.034254
158606,0.000000,0.000000,0.000000,0.000000,0.000000,0.005872,0.000000,0.0,0.020153,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.016837,0.000000
159283,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
173481,0.000000,0.000000,0.017788,0.025611,0.000000,0.013294,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.014915,0.0,0.033674,0.000000
187410,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
213150,0.016151,0.000000,0.016825,0.013084,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.019092,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
224764,0.000000,0.000000,0.007242,0.002896,0.000000,0.046728,0.000000,0.0,0.000000,0.0,...,0.014793,0.000000,0.0,0.014915,0.0,0.000000,0.000000,0.0,0.000000,0.000000
240543,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
267635,0.000000,0.000000,0.000000,0.000000,0.000000,0.029266,0.017658,0.0,0.036900,0.0,...,0.000000,0.016837,0.0,0.033674,0.0,0.000000,0.000000,0.0,0.000000,0.000000
273190,0.000000,0.000000,0.000000,0.000000,0.038113,0.000000,0.000000,0.0,0.000000,0.0,...,0.034254,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000

In [27]:
Elder_similarity1 = pd.DataFrame(
    {
        'user-1' : Elder_similarity.idxmax().index,
        'user-2' : Elder_similarity.idxmax().values
    }
)

Elder_similarity1

    user-1  user-2
0     8782  148744
1    10030   13273
2    13273   95193
3    26516  173481
4    58363  273190
5    66680  224764
6    76482  267635
7    86947    8782
8    88652  267635
9    90766    8782
10   95193   13273
11  114865    8782
12  121726    8782
13  148744  273190
14  158606   88652
15  159283    8782
16  173481  267635
17  187410    8782
18  213150  148744
19  224764   66680
20  240543    8782
21  267635   88652
22  273190   58363

#### Teenager

In [28]:
tg= age[age['Age_Type'] == 'Teenager']

tg

         User-ID        ISBN  Book-Rating  Age_Type
40988      10354  0060177241            8  Teenager
40989      10354  0060233346            0  Teenager
40990      10354  0060801263            0  Teenager
40991      10354  0064400557           10  Teenager
40992      10354  0064400859            8  Teenager
...          ...         ...          ...       ...
1143573   274808  1558744630            0  Teenager
1143574   274808  1558746161            0  Teenager
1143575   274808  1558747613            0  Teenager
1143576   274808  1567312497            0  Teenager
1143577   274808  1932100040            0  Teenager

[4992 rows x 4 columns]

In [29]:
Teenager = tg.pivot_table(index='User-ID', columns='ISBN', values='Book-Rating')
Teenager.fillna(0, inplace=True)

Teenager

ISBN,0006166512,0006172768,0006510183,0006543545,0006750222,0006751180,0006751687,0006755186,000716226X,0020136803,...,9715115314,9718340181,9719019166,9719175672,9719214872,9814096679,9871138024,9871138148,B00009NDBF,B0000BSH37
User-ID,,,,,,,,,,,,,,,,,,,,,
10354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102647,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
206074,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
223231,0.0,0.0,0.0,0.0,8.0,8.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
263344,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,8.0,6.0,6.0,10.0,8.0,0.0,0.0,0.0,0.0
274808,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
Teenager_similarity = 1 - pairwise_distances(Teenager,metric='cosine')
np.fill_diagonal(Teenager_similarity,0)

Teenager_similarity = pd.DataFrame(Teenager_similarity)
Teenager_similarity.index = np.sort(tg['User-ID'].unique())
Teenager_similarity.columns = np.sort(tg['User-ID'].unique())

Teenager_similarity

,10354,13540,28360,46443,55927,66483,95923,98440,99955,102647,...,173684,199431,206074,223231,248477,256167,259057,263344,264525,274808
10354,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.006342,0.011658,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13540,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28360,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028680,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
46443,0.000000,0.0,0.00000,0.000000,0.024256,0.000000,0.000000,0.017700,0.015907,0.004832,...,0.000000,0.0,0.006797,0.025827,0.021409,0.012261,0.000000,0.000000,0.007046,0.048475
55927,0.000000,0.0,0.00000,0.024256,0.000000,0.016687,0.059893,0.000000,0.032261,0.000000,...,0.000000,0.0,0.015756,0.038870,0.023984,0.000000,0.000000,0.026197,0.011025,0.076066
66483,0.000000,0.0,0.00000,0.000000,0.016687,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
95923,0.000000,0.0,0.00000,0.000000,0.059893,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.018158,0.000000,0.012103,0.017546,0.000000,0.000000,0.000000,0.000000
98440,0.006342,0.0,0.00000,0.017700,0.000000,0.000000,0.000000,0.000000,0.000000,0.006860,...,0.018581,0.0,0.000000,0.020628,0.022343,0.000000,0.018043,0.000000,0.000000,0.046598
99955,0.011658,0.0,0.02868,0.015907,0.032261,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.007186,0.032864,0.002934,0.000000,0.000000,0.000000,0.022071,0.000000
102647,0.000000,0.0,0.00000,0.004832,0.000000,0.000000,0.000000,0.006860,0.000000,0.000000,...,0.019563,0.0,0.000000,0.013764,0.032206,0.007518,0.000000,0.000000,0.009218,0.000000
112026,0.000000,0.0,0.00000,0.023451,0.037579,0.000000,0.000000,0.000000,0.013602,0.014139,...,0.000000,0.0,0.000000,0.000000,0.042290,0.000000,0.000000,0.037801,0.015908,0.029053
113955,0.014545,0.0,0.00000,0.009823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.010017,0.000000,0.000000,0.000000,0.000000,0.000000,0.013690
119364,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
123608,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008145,...,0.000000,0.0,0.000000,0.013996,0.027843,0.000000,0.000000,0.000000,0.010183,0.018597
138883,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007654,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
161348,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.051862,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
173684,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.018581,0.000000,0.019563,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
199431,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
206074,0.000000,0.0,0.00000,0.006797,0.015756,0.000000,0.018158,0.000000,0.007186,0.000000,...,0.000000,0.0,0.000000,0.031887,0.000000,0.000000,0.000000,0.000000,0.004539,0.010658
223231,0.000000,0.0,0.00000,0.025827,0.038870,0.000000,0.000000,0.020628,0.032864,0.013764,...,0.000000,0.0,0.031887,0.000000,0.014971,0.010047,0.000000,0.000000,0.012318,0.099992
248477,0.000000,0.0,0.00000,0.021409,0.023984,0.000000,0.012103,0.022343,0.002934,0.032206,...,0.000000,0.0,0.000000,0.014971,0.000000,0.009994,0.000000,0.026206,0.054595,0.000000
256167,0.000000,0.0,0.00000,0.012261,0.000000,0.000000,0.017546,0.000000,0.000000,0.007518,...,0.000000,0.0,0.000000,0.010047,0.009994,0.000000,0.000000,0.000000,0.000000,0.000000
259057,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.018043,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
263344,0.000000,0.0,0.00000,0.000000,0.026197,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.026206,0.000000,0.000000,0.000000,0.017250,0.000000
264525,0.000000,0.0,0.00000,0.007046,0.011025,0.000000,0.000000,0.000000,0.022071,0.009218,...,0.000000,0.0,0.004539,0.012318,0.054595,0.000000,0.000000,0.017250,0.000000,0.041576
274808,0.000000,0.0,0.00000,0.048475,0.076066,0.000000,0.000000,0.046598,0.000000,0.000000,...,0.000000,0.0,0.010658,0.099992,0.000000,0.000000,0.000000,0.000000,0.041576,0.000000

In [31]:
Teenager_similarity1 = pd.DataFrame(
    {
        'user-1' : Teenager_similarity.idxmax().index,
        'user-2' : Teenager_similarity.idxmax().values
    }
)

Teenager_similarity1

    user-1  user-2
0    10354  113955
1    13540   10354
2    28360   99955
3    46443  274808
4    55927  274808
5    66483   55927
6    95923   55927
7    98440  274808
8    99955  223231
9   102647  161348
10  112026  248477
11  113955  119364
12  119364  113955
13  123608  248477
14  138883   99955
15  161348  102647
16  173684  102647
17  199431   10354
18  206074  223231
19  223231  274808
20  248477  264525
21  256167   95923
22  259057   98440
23  263344  112026
24  264525  248477
25  274808  223231

#### Children

In [32]:
ch= age[age['Age_Type'] == 'Children']

ch

         User-ID        ISBN  Book-Rating  Age_Type
129392     30072  006029146X            0  Children
129393     30072  006096975X            0  Children
129394     30072  0061072044            0  Children
129395     30072  0064400581            0  Children
129396     30072  0064403084            0  Children
...          ...         ...          ...       ...
1124222   269566  1878067338            0  Children
1124223   269566  187895105X            0  Children
1124224   269566  1883672902            0  Children
1124225   269566  1885222556            0  Children
1124226   269566  1888451173            0  Children

[2466 rows x 4 columns]

In [33]:
Children = ch.pivot_table(index='User-ID', columns='ISBN', values='Book-Rating')
Children.fillna(0, inplace=True)

Children

ISBN,0006932991,002026478X,0020442106,0020442203,0020442505,0020442602,002542730X,0030077664,0060005521,0060127260,...,1883672767,1883672902,1885222556,1888451173,1890515124,1931514879,1931886148,3237733024,9997488644,9997489063
User-ID,,,,,,,,,,,,,,,,,,,,,
30072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,10.0,0.0,0.0,0.0
62239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269566,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
Children_similarity = 1 - pairwise_distances(Children,metric='cosine')
np.fill_diagonal(Children_similarity,0)

Children_similarity = pd.DataFrame(Children_similarity)
Children_similarity.index = np.sort(ch['User-ID'].unique())
Children_similarity.columns = np.sort(ch['User-ID'].unique())

Children_similarity

          30072     62239     119248    168464    249958    269566
30072   0.000000  0.000000  0.000000  0.052793  0.000000  0.000000
62239   0.000000  0.000000  0.048649  0.000000  0.042950  0.023690
119248  0.000000  0.048649  0.000000  0.000000  0.000000  0.000000
168464  0.052793  0.000000  0.000000  0.000000  0.065741  0.013378
249958  0.000000  0.042950  0.000000  0.065741  0.000000  0.029210
269566  0.000000  0.023690  0.000000  0.013378  0.029210  0.000000

In [35]:
Children_similarity1 = pd.DataFrame(
    {
        'user-1' : Children_similarity.idxmax().index,
        'user-2' : Children_similarity.idxmax().values
    }
)

Children_similarity1

   user-1  user-2
0   30072  168464
1   62239  119248
2  119248   62239
3  168464  249958
4  249958  168464
5  269566  249958

### Preparing Model Based On Area

#### usa

In [139]:
area

,ISBN,rating,name,auther,publisher,image
21,0312978871,10,Shadows of Evil,Carlton Smith,St. Martin's Paperbacks,http://images.amazon.com/images/P/0312978871.0...
86,0679750789,10,The Tightwad Gazette II: Promoting Thrift As a...,Amy Dacyczyn,Random House Inc,http://images.amazon.com/images/P/0679750789.0...
2,0060566760,10,Hell at the Breech : A Novel,Tom Franklin,Perennial,http://images.amazon.com/images/P/0060566760.0...
98,0786006609,10,A Venom in the Blood (Pinnacle True Crime),Eric Hoffmann,Pinnacle Books,http://images.amazon.com/images/P/0786006609.0...
94,0765340143,10,Bloodtide,Melvin Burgess,Tor Books,http://images.amazon.com/images/P/0765340143.0...

In [151]:
area1=area[area['country']=='usa']
area1

         User-ID        ISBN  Book-Rating country
1456      277427  002542730X           10     usa
1457      277427  0026217457            0     usa
1458      277427  003008685X            8     usa
1459      277427  0030615321            0     usa
1460      277427  0060002050            0     usa
...          ...         ...          ...     ...
1149633   276680  1884910033            0     usa
1149634   276680  1888173408            7     usa
1149635   276680  1888173564            8     usa
1149636   276680  1888173572            0     usa
1149637   276680  1931561648            9     usa

[474698 rows x 4 columns]

In [ ]:
area1['Book-Rating'].unique()

array([10,  0,  8,  7,  9,  6,  5,  4,  2,  3,  1], dtype=int64)

In [ ]:
area1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474698 entries, 1456 to 1149637
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      474698 non-null  int64
 1   ISBN         474698 non-null  object
 2   Book-Rating  474698 non-null  int64
 3   country      474698 non-null  object
dtypes: int64(2), object(2)
memory usage: 18.1+ MB

In [152]:
usa = area1.pivot_table(values='Book-Rating', index='User-ID',columns='ISBN')
usa.fillna(0,inplace = True)

usa

ISBN,0375404120,*0515128325,0000000051,0000001042283,0000018030,0001047868,0001048759,0001052276,0001053736,0001053744,...,SBN67001026X,T110105305048,T110105705048,TBR0385495641,THEALLTRUETRA,THECATASTROPH,THEFLYINGACE,"YOUTELLEM,AND",b00005wz75,Ô½crosoft
User-ID,,,,,,,,,,,,,,,,,,,,,
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [154]:
usa_similarity = 1 - pairwise_distances(usa,metric='cosine')
np.fill_diagonal(usa_similarity,0)

usa_similarity = pd.DataFrame(usa_similarity)
usa_similarity.index = np.sort(area1['User-ID'].unique())
usa_similarity.columns = np.sort(area1['User-ID'].unique())

usa_similarity

MemoryError: Unable to allocate 1.50 GiB for an array with shape (1192, 168900) and data type float64

In [ ]:
usa_similarity1 = pd.DataFrame(
    {
        'user-1' : usa_similarity.idxmax().index,
        'user-2' : usa_similarity.idxmax().values
    }
)

usa_similarity1

      user-1  user-2
0        254   88122
1        507   37712
2        882  149084
3       1435  264543
4       1733  180917
...      ...     ...
1187  277427  224340
1188  277639  240035
1189  278137   31040
1190  278188  218569
1191  278418  170742

[1192 rows x 2 columns]

#### canada

In [ ]:
area2=area[area['country']=='canada']
area2

         User-ID        ISBN  Book-Rating country
25448       6242  0002244098            5  canada
25449       6242  0006385370            7  canada
25450       6242  0006391761            6  canada
25451       6242  0006392237            7  canada
25452       6242  0006480608            7  canada
...          ...         ...          ...     ...
1128315   270713  1895897645            0  canada
1128316   270713  1896239684            0  canada
1128317   270713  1930051220            0  canada
1128318   270713  1931412065            0  canada
1128319   270713  O67174142X            8  canada

[59333 rows x 4 columns]

In [ ]:
area2['Book-Rating'].unique()

array([ 5,  7,  6,  0,  8,  3,  4, 10,  9,  1,  2], dtype=int64)

In [ ]:
area2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59333 entries, 25448 to 1128319
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      59333 non-null  int64
 1   ISBN         59333 non-null  object
 2   Book-Rating  59333 non-null  int64
 3   country      59333 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [ ]:
canada = area2.pivot_table(values='Book-Rating', index='User-ID',columns='ISBN')
canada.fillna(0,inplace = True)

canada

ISBN,0000913154,000104799X,0001055607,0001251782,0001382381,0001382608,0001840517,0001961721,0002000288,0002000474,...,JaneDentinger,LATITUDESOFME,N006485332,O590477412,O67174142X,O774037474,O77O428452,O880015152,O889950962,Q380708353
User-ID,,,,,,,,,,,,,,,,,,,,,
6242,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
canada_similarity = 1 - pairwise_distances(canada,metric='cosine')
np.fill_diagonal(canada_similarity,0)

canada_similarity = pd.DataFrame(canada_similarity)
canada_similarity.index = np.sort(area2['User-ID'].unique())
canada_similarity.columns = np.sort(area2['User-ID'].unique())

canada_similarity

,6242,8782,9417,14456,16721,16966,21404,23288,26583,27617,...,260183,263325,263877,264321,265889,266522,268300,268932,270554,270713
6242,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.014166,0.000000,0.008635,0.000000,...,0.006700,0.076761,0.009412,0.013856,0.016795,0.0,0.000000,0.018002,0.086139,0.049439
8782,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.021957,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.013587
9417,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.027912,0.000000,0.000000,0.000000,...,0.000000,0.022453,0.016690,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.011433
14456,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023019,0.000000,0.000000,0.000000,0.000000,0.0,0.033215,0.012193,0.000000,0.007928
16721,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266522,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.021489,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
268300,0.000000,0.000000,0.000000,0.033215,0.0,0.008803,0.000000,0.000000,0.000000,0.012788,...,0.008216,0.012420,0.000000,0.016127,0.000000,0.0,0.000000,0.000000,0.000000,0.004304
268932,0.018002,0.000000,0.000000,0.012193,0.0,0.000000,0.000000,0.011119,0.000000,0.000000,...,0.000000,0.012260,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.014537,0.010242
270554,0.086139,0.000000,0.000000,0.000000,0.0,0.000000,0.039234,0.000000,0.000000,0.017476,...,0.018946,0.117486,0.021028,0.046437,0.019087,0.0,0.000000,0.014537,0.000000,0.040962
270713,0.049439,0.013587,0.011433,0.007928,0.0,0.000000,0.007433,0.000000,0.000000,0.009120,...,0.012695,0.035431,0.008642,0.027767,0.002792,0.0,0.004304,0.010242,0.040962,0.000000

In [ ]:
canada_similarity1 = pd.DataFrame(
    {
        'user-1' : canada_similarity.idxmax().index,
        'user-2' : canada_similarity.idxmax().values
    }
)

usa_similarity1

      user-1  user-2
0        254   88122
1        507   37712
2        882  149084
3       1435  264543
4       1733  180917
...      ...     ...
1187  277427  224340
1188  277639  240035
1189  278137   31040
1190  278188  218569
1191  278418  170742

[1192 rows x 2 columns]

#### united kingdom

In [ ]:
area3=area[area['country']=='unitedkingdom']
area3

         User-ID        ISBN  Book-Rating        country
29970       7105  0006176917            0  unitedkingdom
29971       7105  0006372570            5  unitedkingdom
29972       7105  0006374093            0  unitedkingdom
29973       7105  0006482880            0  unitedkingdom
29974       7105  0006548717            3  unitedkingdom
...          ...         ...          ...            ...
1137218   273718  1869928318           10  unitedkingdom
1137219   273718  1871592232           10  unitedkingdom
1137220   273718  189830713X           10  unitedkingdom
1137221   273718  1904492355            0  unitedkingdom
1137222   273718  3822862142            9  unitedkingdom

[26139 rows x 4 columns]

In [ ]:
area3['Book-Rating'].unique()

array([ 0,  5,  3,  6,  9,  7, 10,  8,  4,  1,  2], dtype=int64)

In [ ]:
area3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26139 entries, 29970 to 1137222
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      26139 non-null  int64
 1   ISBN         26139 non-null  object
 2   Book-Rating  26139 non-null  int64
 3   country      26139 non-null  object
dtypes: int64(2), object(2)
memory usage: 1021.1+ KB

In [ ]:
unitedkingdom = area3.pivot_table(values='Book-Rating', index='User-ID',columns='ISBN')
unitedkingdom.fillna(0,inplace = True)

unitedkingdom

ISBN,0*708880258,0000000026307,0000000029841,0000000030670,0000000033220,0000000124911,0000001056518,0001010565,0001046438,000104687X,...,CN109567,CN110912,CN115072,CN124650,CN9944/1142,L583225846,O856856428,O861366301,cn108465,cn113107
User-ID,,,,,,,,,,,,,,,,,,,,,
7105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
266866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
269728,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
272225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
273718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
unitedkingdom_similarity = 1 - pairwise_distances(unitedkingdom,metric='cosine')
np.fill_diagonal(unitedkingdom_similarity,0)

unitedkingdom_similarity = pd.DataFrame(unitedkingdom_similarity)
unitedkingdom_similarity.index = np.sort(area3['User-ID'].unique())
unitedkingdom_similarity.columns = np.sort(area3['User-ID'].unique())

unitedkingdom_similarity

,7105,23902,25533,30509,30712,33888,37567,40647,44925,56271,...,238864,244277,246156,246617,252827,261037,266866,269728,272225,273718
7105,0.000000,0.000000,0.000000,0.0,0.017018,0.036755,0.000000,0.000000,0.00000,0.011463,...,0.052992,0.021861,0.000000,0.011626,0.022752,0.000000,0.000000,0.010238,0.0,0.022771
23902,0.000000,0.000000,0.010436,0.0,0.008272,0.005360,0.003555,0.000000,0.00000,0.005474,...,0.014342,0.000577,0.006422,0.003992,0.002524,0.014567,0.001374,0.001352,0.0,0.011836
25533,0.000000,0.010436,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.021522,...,0.032618,0.000000,0.000000,0.024697,0.000000,0.021310,0.000000,0.016659,0.0,0.000000
30509,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
30712,0.017018,0.008272,0.000000,0.0,0.000000,0.011112,0.014739,0.034013,0.02755,0.000000,...,0.000000,0.000000,0.000000,0.022918,0.010853,0.011884,0.000000,0.009966,0.0,0.012414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261037,0.000000,0.014567,0.021310,0.0,0.011884,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.026079,0.000000,0.000000,0.000000,0.0,0.000000
266866,0.000000,0.001374,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.040633,...,0.032900,0.000000,0.000000,0.000000,0.008779,0.000000,0.000000,0.025958,0.0,0.000000
269728,0.010238,0.001352,0.016659,0.0,0.009966,0.000000,0.000000,0.000000,0.00000,0.006484,...,0.045313,0.000000,0.016950,0.012860,0.000000,0.000000,0.025958,0.000000,0.0,0.000000
272225,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.014338,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
273718,0.022771,0.011836,0.000000,0.0,0.012414,0.016521,0.000000,0.000000,0.00000,0.013668,...,0.026136,0.031007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000

In [ ]:
unitedkingdom_similarity1 = pd.DataFrame(
    {
        'user-1' : unitedkingdom_similarity.idxmax().index,
        'user-2' : unitedkingdom_similarity.idxmax().values
    }
)

unitedkingdom_similarity1

    user-1  user-2
0     7105  238864
1    23902  209516
2    25533   92853
3    30509    7105
4    30712  124688
..     ...     ...
81  261037   60797
82  266866   72451
83  269728  238864
84  272225  100088
85  273718  114446

[86 rows x 2 columns]

#### australia

In [ ]:
area4=area[area['country']=='australia']
area4

         User-ID        ISBN  Book-Rating    country
12725       1424  0007119860            0  australia
12726       1424  0060000805            7  australia
12727       1424  0060505273            0  australia
12728       1424  0060512822            7  australia
12729       1424  0060730552            9  australia
...          ...         ...          ...        ...
1140652   274301  1879237806           10  australia
1140653   274301  1886913439            0  australia
1140654   274301  9994770934           10  australia
1140655   274301  9998914140           10  australia
1140656   274301  B00009NDAN           10  australia

[13575 rows x 4 columns]

In [ ]:
area4['Book-Rating'].unique()

array([ 0,  7,  9,  8,  5,  6, 10,  4,  3,  1,  2], dtype=int64)

In [ ]:
area4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13575 entries, 12725 to 1140656
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      13575 non-null  int64
 1   ISBN         13575 non-null  object
 2   Book-Rating  13575 non-null  int64
 3   country      13575 non-null  object
dtypes: int64(2), object(2)
memory usage: 530.3+ KB

In [ ]:
australia = area4.pivot_table(values='Book-Rating', index='User-ID',columns='ISBN')
australia.fillna(0,inplace = True)

australia

ISBN,0 00 614494 2,0 85550 000 x,0000000000000,0000001481,0001033085,0001047663,0001048082,0001049879,0001604163,0001604465,...,B0000523SS,B000055Z5S,B00005N5J6,B00005WAEO,B00005X0HL,B0000646QD,B00008NRHQ,B00009NDAN,B0002JV9PY,B0002K6K8O
User-ID,,,,,,,,,,,,,,,,,,,,,
1424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98787,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109901,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113817,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
155916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
157655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
180707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
180957,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183958,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
222716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
225232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
236340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
241204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0

In [ ]:
australia_similarity = 1 - pairwise_distances(australia,metric='cosine')
np.fill_diagonal(australia_similarity,0)

australia_similarity = pd.DataFrame(australia_similarity)
australia_similarity.index = np.sort(area4['User-ID'].unique())
australia_similarity.columns = np.sort(area4['User-ID'].unique())

australia_similarity

,1424,13995,15957,16161,16943,30711,42400,44296,53729,79942,...,233711,236340,241204,246671,246776,256247,259378,262902,262998,274301
1424,0.000000,0.015391,0.027016,0.017772,0.000000,0.011629,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.045859,0.000000,0.025029,0.030255,0.006322,0.000000
13995,0.015391,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.024298,0.000000,...,0.000000,0.000000,0.014216,0.0,0.000000,0.000000,0.027720,0.000000,0.010287,0.000000
15957,0.027016,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.024490,0.000000,...,0.035814,0.000000,0.065972,0.0,0.000000,0.078517,0.000000,0.000000,0.010157,0.037237
16161,0.017772,0.000000,0.000000,0.000000,0.000000,0.011154,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.023458,0.000000,0.000000,0.015873,0.009913,0.000000
16943,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.027149,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30711,0.011629,0.000000,0.000000,0.011154,0.000000,0.000000,0.0,0.017003,0.000000,0.000000,...,0.021316,0.004222,0.000000,0.0,0.032405,0.014787,0.000000,0.025196,0.003967,0.007382
42400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44296,0.000000,0.000000,0.000000,0.000000,0.000000,0.017003,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.010701
53729,0.000000,0.024298,0.024490,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.012544,0.018618,0.0,0.000000,0.000000,0.048620,0.021700,0.000000,0.000000
79942,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.023211,0.000000,0.000000,0.0,0.000000,0.022617,0.000000,0.000000,0.009875,0.000000
86033,0.000000,0.000000,0.000000,0.000000,0.000000,0.018704,0.0,0.000000,0.000000,0.000000,...,0.013752,0.000000,0.000000,0.0,0.000000,0.018216,0.000000,0.000000,0.000000,0.000000
86202,0.000000,0.000000,0.057699,0.000000,0.000000,0.083013,0.0,0.000000,0.020361,0.000000,...,0.018012,0.012684,0.031466,0.0,0.000000,0.099038,0.026547,0.034480,0.013866,0.019010
98787,0.016035,0.000000,0.000000,0.021971,0.000000,0.040255,0.0,0.000000,0.000000,0.000000,...,0.031492,0.022786,0.017774,0.0,0.000000,0.000000,0.049509,0.020716,0.000000,0.020357
99227,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.033519,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
109901,0.045382,0.000000,0.020249,0.000000,0.022204,0.000000,0.0,0.012635,0.012393,0.016149,...,0.000000,0.015220,0.000000,0.0,0.000000,0.000000,0.016415,0.024803,0.002073,0.039534
109955,0.000000,0.000000,0.000000,0.000000,0.000000,0.008003,0.0,0.014732,0.000000,0.000000,...,0.000000,0.017488,0.000000,0.0,0.020780,0.000000,0.000000,0.000000,0.000000,0.000000
112541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.010011,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
113817,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.029767,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
114865,0.000000,0.000000,0.000000,0.000000,0.018422,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.003660,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
118434,0.030151,0.000000,0.000000,0.028918,0.000000,0.031538,0.0,0.000000,0.000000,0.000000,...,0.016119,0.000000,0.000000,0.0,0.039798,0.000000,0.000000,0.000000,0.010286,0.000000
121726,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.025067,0.000000,0.000000,0.000000,0.000000
123625,0.000000,0.000000,0.000000,0.000000,0.000000,0.010262,0.0,0.000000,0.000000,0.000000,...,0.025913,0.011080,0.000000,0.0,0.000000,0.000000,0.000000,0.019168,0.000000,0.000000
141819,0.000000,0.000000,0.000000,0.000000,0.000000,0.012748,0.0,0.010266,0.000000,0.000000,...,0.014479,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144131,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
145165,0.000000,0.000000,0.000000,0.000000,0.000000,0.029448,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.035494,0.025460,0.000000,0.000000
149690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.032094,0.000000,...,0.007887,0.013995,0.000000,0.0,0.036347,0.000000,0.032546,0.035018,0.000000,0.000000
155916,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
157655,0.043591,0.000000,0.043855,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.038456,0.000000,0.0,0.000000,0.000000,0.031107,0.000000,0.010262,0.000000
161936,0.035796,0.000000,0.000000,0.018311,0.000000,0.035778,0.0,0.000000,0.000000,0.000000,...,0.017011,0.006160,0.000000,0.0,0.072798,0.023975,0.029011,0.019183,0.006513,0.000000
168387,0.000000,0.000000,0.047065,0.000000,0.000000,0.000000,0.0,0.025379,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
172248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
175886,0.000000,0.000000,0.000000,0.000000,0.000000,0.050991,0.0,0.000000,0.000000,0.000000,...,0.041804,0.000000,0.000000,0.0,0.000000,0.000000,0.060650,0.108134,0.000000,0.000000
176062,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.041865,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
179791,0.000000,0.000000,0.000000,0.000000,0.000000,0.015020,0.0,0.000000,0.031047,0.000000,...,0.000000,0.008703,0.000000,0.0,0.017581,0.000000,0.000000,0.000000,0.000000,0.009511
180707,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
180957,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.016369,0.010512,0.000000,0.000000,0.000000,0.000000
183958,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.009245,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.011263,0.000000,0.000000
203280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.026746,0.000000,...,0.000000,0.031656,0.000000,0.0,0.000000,0.000000,0.000000,0.029183,0.000000,0.034595
214528,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
216882,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.025783,...,0.000000,0.000000,0.000000,0.0,0.032014,0.000000,0.000000,0.000000,0.000000,0.000000
220867,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.080790,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.015809,0.000000
222716,0.000000,0.000000,0.000000,0.000000,0.065079,0.014903,0.0,0.000000,0.000000,0.000000,...,0.028564,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.035790,0.000000,0.000000
225232,0.000000,0.000000,0.045961,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.006292,0.000000,0.000000,0.0,0.011651,0.011085,0.009273,0.000000,0.017303,0.004980
231857,0.009422,0.000000,0.000000,0.000000,0.000000,0.014642,0.0,0.000000,0.016734,0.046606,...,0.000000,0.005212,0.000000,0.0,0.000000,0.020284,0.014848,0.000000,0.000000,0.025632
233711,0.000000,0.000000,0.035814,0.000000,0.027149,0.021316,0.0,0.000000,0.000000,0.023211,...,0.000000,0.052864,0.000000,0.0,0.000000,0.021593,0.000000,0.012798,0.005587,0.000000
236340,0.000000,0.000000,0.000000,0.000000,0.000000,0.004222,0.0,0.000000,0.012544,0.000000,...,0.052864,0.000000,0.000000,0.0,0.014206,0.000000,0.014538,0.000000,0.004196,0.140903
241204,0.000000,0.014216,0.065972,0.000000,0.000000,0.000000,0.0,0.000000,0.018618,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
246671,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
246776,0.045859,0.000000,0.000000,0.023458,0.000000,0.032405,0.0,0.000000,0.000000,0.000000,...,0.000000,0.014206,0.000000,0.0,0.000000,0.040953,0.000000,0.024576,0.008344,0.000000
256247,0.000000,0.000000,0.078517,0.000000,0.000000,0.014787,0.0,0.000000,0.000000,0.022617,...,0.021593,0.000000,0.000000,0.0,0.040953,0.000000,0.000000,0.000000,0.006124,0.000000
259378,0.025029,0.027720,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.048620,0.000000,...,0.000000,0.014538,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
262902,0.030255,0.000000,0.000000,0.015873,0.000000,0.025196,0.0,0.000000,0.021700,0.000000,...,0.012798,0.000000,0.000000,0.0,0.024576,0.000000,0.000000,0.000000,0.000000,0.007239
262998,0.006322,0.010287,0.010157,0.009913,0.000000,0.003967,0.0,0.000000,0.000000,0.009875,...,0.005587,0.004196,0.000000,0.0,0.008344,0.006124,0.000000,0.000000,0.000000,0.002866
274301,0.000000,0.000000,0.037237,0.000000,0.000000,0.007382,0.0,0.010701,0.000000,0.000000,...,0.000000,0.140903,0.000000,0.0,0.000000,0.000000,0.000000,0.007239,0.002866,0.000000

In [ ]:
australia_similarity1 = pd.DataFrame(
    {
        'user-1' : australia_similarity.idxmax().index,
        'user-2' : australia_similarity.idxmax().values
    }
)

australia_similarity1

    user-1  user-2
0     1424  246776
1    13995  259378
2    15957  256247
3    16161  118434
4    16943  222716
5    30711   86202
6    42400    1424
7    44296  168387
8    53729  259378
9    79942  220867
10   86033  145165
11   86202   98787
12   98787   86202
13   99227  220867
14  109901    1424
15  109955  246776
16  112541  149690
17  113817   86202
18  114865   16943
19  118434  161936
20  121726  256247
21  123625  149690
22  141819  233711
23  144131    1424
24  145165  222716
25  149690  123625
26  155916    1424
27  157655   15957
28  161936  246776
29  168387  176062
30  172248    1424
31  175886  262902
32  176062  168387
33  179791   53729
34  180707    1424
35  180957   99227
36  183958  118434
37  203280  149690
38  214528    1424
39  216882  246776
40  220867   79942
41  222716  145165
42  225232   15957
43  231857   79942
44  233711  236340
45  236340  274301
46  241204   15957
47  246671    1424
48  246776  161936
49  256247   86202
50  259378  175886
51  262902  175886
52  262998  225232
53  274301  236340

#### germany

In [ ]:
area5=area[area['country']=='germany']
area5

         User-ID        ISBN  Book-Rating  country
37861       8971  006080985X            0  germany
37862       8971  0060900075            0  germany
37863       8971  0060901918            0  germany
37864       8971  0061059048            0  germany
37865       8971  0062732765           10  germany
...          ...         ...          ...      ...
1147855   276018  3933191033            0  germany
1147856   276018  3936819009           10  germany
1147857   276018  3980217655            7  germany
1147858   276018  8401380111            0  germany
1147859   276018  9871138148            9  germany

[11708 rows x 4 columns]

In [ ]:
area5['Book-Rating'].unique()

array([ 0, 10,  9,  4,  2,  8,  7,  5,  6,  3,  1], dtype=int64)

In [ ]:
area5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11708 entries, 37861 to 1147859
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      11708 non-null  int64
 1   ISBN         11708 non-null  object
 2   Book-Rating  11708 non-null  int64
 3   country      11708 non-null  object
dtypes: int64(2), object(2)
memory usage: 457.3+ KB

In [ ]:
germany = area5.pivot_table(values='Book-Rating', index='User-ID',columns='ISBN')
germany.fillna(0,inplace = True)

germany

ISBN,000000000,0003252477,0003300277,0004589777,0006146104,0006165338,0006166598,0006176615,0006374085,0006479898,...,B00005WSAZ,B00007GZZW,B00009EF82,B0000BR9M5,B0000BSH37,B0000C2W66,B0000C7BNG,B0000VZEJQ,B00011SOXI,SELBSTVERLAG
User-ID,,,,,,,,,,,,,,,,,,,,,
8971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30810,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35718,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57449,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8.0,0.0
81128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
92405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
132492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
133567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143909,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160409,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160415,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160416,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163319,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184672,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201548,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
202173,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
222488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
241198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
250359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
germany_similarity = 1 - pairwise_distances(germany,metric='cosine')
np.fill_diagonal(germany_similarity,0)

germany_similarity = pd.DataFrame(germany_similarity)
germany_similarity.index = np.sort(area5['User-ID'].unique())
germany_similarity.columns = np.sort(area5['User-ID'].unique())

germany_similarity

,8971,12657,12835,20859,24945,28537,30810,35407,35718,39396,...,202173,212088,214244,215225,222488,241198,243876,250359,264903,276018
8971,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.011813,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
12657,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
12835,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.008477,0.033669,0.000000,0.025064,...,0.000000,0.017293,0.018658,0.000000,0.018638,0.000000,0.000000,0.0,0.000000,0.046213
20859,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
24945,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.027056,0.000000,0.0,0.000000,0.000000
28537,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.040166,0.000000,...,0.021517,0.000000,0.000000,0.000000,0.017949,0.000000,0.000000,0.0,0.025462,0.000000
30810,0.011813,0.0,0.008477,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.018256,0.000000,0.004396,0.000000,0.0,0.000000,0.000000
35407,0.000000,0.0,0.033669,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.016261,...,0.000000,0.010845,0.020060,0.024653,0.054216,0.011971,0.015959,0.0,0.000000,0.046372
35718,0.000000,0.0,0.000000,0.0,0.000000,0.040166,0.000000,0.000000,0.000000,0.021443,...,0.000000,0.000000,0.000000,0.000000,0.043234,0.000000,0.000000,0.0,0.000000,0.000000
39396,0.000000,0.0,0.025064,0.0,0.000000,0.000000,0.000000,0.016261,0.021443,0.000000,...,0.000000,0.021227,0.049078,0.000000,0.012671,0.000000,0.052208,0.0,0.000000,0.030255
41227,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.016207,0.000000,0.000000,...,0.016560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
49422,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.047232,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
54218,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
54828,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
57449,0.000000,0.0,0.028439,0.0,0.000000,0.041033,0.000000,0.025796,0.000000,0.035974,...,0.000000,0.000000,0.023357,0.000000,0.039262,0.004536,0.019113,0.0,0.000000,0.000000
66483,0.000000,0.0,0.004821,0.0,0.000000,0.000000,0.000000,0.000000,0.024408,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.020194,0.006481,0.000000,0.0,0.000000,0.000000
71739,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.014949,0.000000,0.047964,...,0.000000,0.000000,0.000000,0.000000,0.050156,0.000000,0.025317,0.0,0.000000,0.000000
75115,0.000000,0.0,0.076043,0.0,0.000000,0.000000,0.000000,0.022962,0.000000,0.044079,...,0.024751,0.023346,0.025190,0.013268,0.024470,0.014908,0.009815,0.0,0.000000,0.148628
80945,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
81128,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.049934,0.000000,0.000000,0.005172,0.000000,0.0,0.000000,0.000000
84831,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.010615,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
88283,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.008863,0.000000,0.000000,...,0.000000,0.013222,0.000000,0.000000,0.000000,0.000000,0.018762,0.0,0.000000,0.000000
92405,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.002616,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001661,0.0,0.000000,0.000000
97598,0.000000,0.0,0.069953,0.0,0.000000,0.000000,0.000000,0.021058,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.014181,0.000000,0.000000,0.0,0.000000,0.000000
100644,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.015257,0.000000,0.000000,...,0.035634,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
107951,0.000000,0.0,0.013071,0.0,0.000000,0.000000,0.000000,0.000000,0.010134,0.008825,...,0.000000,0.000000,0.000000,0.000000,0.015970,0.000000,0.000000,0.0,0.000000,0.000000
132492,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.037651,0.000000,0.021551,0.034333,...,0.000000,0.000000,0.023019,0.000000,0.000000,0.015040,0.000188,0.0,0.000000,0.000000
133567,0.000000,0.0,0.020790,0.0,0.000000,0.000000,0.000000,0.036290,0.000000,0.025520,...,0.000000,0.025531,0.027547,0.000000,0.000000,0.000000,0.028982,0.0,0.000000,0.036389
140826,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
140879,0.000000,0.0,0.017243,0.0,0.000000,0.000000,0.010169,0.012359,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.011890,0.005887,0.000000,0.0,0.000000,0.000000
141210,0.000000,0.0,0.010622,0.0,0.000000,0.000000,0.000000,0.025694,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.009531,0.000000,0.012851,0.000000,0.0,0.000000,0.000000
143909,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.049767,0.000000,0.026483,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
144255,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.056855,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
159390,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.022418,0.000000,0.000000,...,0.000000,0.020260,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160032,0.000000,0.0,0.029065,0.0,0.000000,0.011551,0.000000,0.017360,0.000000,0.020387,...,0.000000,0.000000,0.000000,0.000000,0.012025,0.008931,0.000000,0.0,0.034118,0.029070
160406,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160407,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160408,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160409,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160410,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160414,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160415,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
160416,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
163319,0.000000,0.0,0.000000,0.0,0.000000,0.006976,0.000000,0.014910,0.000000,0.000000,...,0.000000,0.012512,0.017358,0.000000,0.008299,0.000000,0.000000,0.0,0.020603,0.000000
173679,0.017158,0.0,0.000000,0.0,0.050281,0.011011,0.000000,0.000000,0.000000,0.031309,...,0.027482,0.017497,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
182085,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.001786,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
182086,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
184672,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
189227,0.000000,0.0,0.000000,0.0,0.000000,0.030349,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.044820,0.000000
201548,0.000000,0.0,0.016534,0.0,0.000000,0.023656,0.000000,0.009875,0.000000,0.011598,...,0.000000,0.000000,0.000000,0.000000,0.008978,0.000000,0.000000,0.0,0.000000,0.000000
202173,0.000000,0.0,0.000000,0.0,0.000000,0.021517,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.020822,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.048134
212088,0.000000,0.0,0.017293,0.0,0.000000,0.000000,0.000000,0.010845,0.000000,0.021227,...,0.000000,0.000000,0.022913,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.030268
214244,0.000000,0.0,0.018658,0.0,0.000000,0.000000,0.000000,0.020060,0.000000,0.049078,...,0.020822,0.022913,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.032658
215225,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.018256,0.024653,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.016052,0.000000,0.0,0.000000,0.000000
222488,0.000000,0.0,0.018638,0.0,0.000000,0.017949,0.000000,0.054216,0.043234,0.012671,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.005397,0.030005,0.0,0.000000,0.000000
241198,0.000000,0.0,0.000000,0.0,0.027056,0.000000,0.004396,0.011971,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.016052,0.005397,0.000000,0.000000,0.0,0.000000,0.007952
243876,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.015959,0.000000,0.052208,...,0.000000,0.000000,0.000000,0.000000,0.030005,0.000000,0.000000,0.0,0.000000,0.000000
250359,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
264903,0.000000,0.0,0.000000,0.0,0.000000,0.025462,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
276018,0.000000,0.0,0.046213,0.0,0.000000,0.000000,0.000000,0.046372,0.000000,0.030255,...,0.048134,0.030268,0.032658,0.000000,0.000000,0.007952,0.000000,0.0,0.000000,0.000000

In [ ]:
germany_similarity1 = pd.DataFrame(
    {
        'user-1' : germany_similarity.idxmax().index,
        'user-2' : germany_similarity.idxmax().values
    }
)

germany_similarity1

    user-1  user-2
0     8971  173679
1    12657    8971
2    12835   75115
3    20859    8971
4    24945  173679
5    28537   57449
6    30810  132492
7    35407  222488
8    35718  144255
9    39396  243876
10   41227   71739
11   49422  202173
12   54218  182085
13   54828    8971
14   57449   71739
15   66483   75115
16   71739   57449
17   75115  276018
18   80945  144255
19   81128  214244
20   84831   35407
21   88283  243876
22   92405   80945
23   97598   12835
24  100644  140879
25  107951  143909
26  132492   30810
27  133567  276018
28  140826    8971
29  140879  100644
30  141210   75115
31  143909  202173
32  144255   35718
33  159390  201548
34  160032   75115
35  160406    8971
36  160407    8971
37  160408    8971
38  160409    8971
39  160410    8971
40  160414    8971
41  160415    8971
42  160416    8971
43  163319  264903
44  173679   24945
45  182085  182086
46  182086  182085
47  184672    8971
48  189227  264903
49  201548  159390
50  202173  143909
51  212088  276018
52  214244   81128
53  215225   35407
54  222488   35407
55  241198   24945
56  243876   39396
57  250359    8971
58  264903  189227
59  276018   75115

#### others

In [ ]:
area6=area[(area['country'] != 'usa') & (area['country'] != 'canada') & (area['country'] != 'unitedkingdom') &(area['country'] != 'australia') & (area['country'] != 'germany')]
area6

         User-ID        ISBN  Book-Rating country
412       276925  0006511929            0   spain
413       276925  002542730X           10   spain
414       276925  0060520507            0   spain
415       276925  0060930934            0   spain
416       276925  0060951303            0   spain
...          ...         ...          ...     ...
1149045   276538  3893313672            0     NaN
1149046   276538  3895254428            0     NaN
1149047   276538  3928950495            6     NaN
1149048   276538  3980367606            0     NaN
1149049   276538  3980629007            0     NaN

[73352 rows x 4 columns]

In [ ]:
area6['Book-Rating'].unique()

array([ 0, 10,  7,  6,  5,  8,  9,  4,  3,  2,  1], dtype=int64)

In [ ]:
area6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73352 entries, 412 to 1149049
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      73352 non-null  int64
 1   ISBN         73352 non-null  object
 2   Book-Rating  73352 non-null  int64
 3   country      64378 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.8+ MB

In [ ]:
others = area6.pivot_table(values='Book-Rating', index='User-ID',columns='ISBN')
others.fillna(0,inplace = True)

others

ISBN,0330299891,0375404120,0586045007,9022906116,9032803328,9044922564,9044922572,9044922718,9044923161,904492401X,...,O805063196,O9088446X,UNGRANDHOMMED,X000000000,Z380703475,ZR903CX0003,"\0432534220\""""","\2842053052\""""","\8887517452\""""","\8888809228\"""""
User-ID,,,,,,,,,,,,,,,,,,,,,
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0
276538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
others_similarity = 1 - pairwise_distances(others,metric='cosine')
np.fill_diagonal(others_similarity,0)

others_similarity = pd.DataFrame(others_similarity)
others_similarity.index = np.sort(area6['User-ID'].unique())
others_similarity.columns = np.sort(area6['User-ID'].unique())

others_similarity

,183,1903,2442,3757,5903,6703,8890,11120,11676,12982,...,272482,272715,273110,273190,274004,274111,275414,276538,276925,277478
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004574,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001524,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.003258,0.002305,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011847,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001756,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000047,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000734,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011152,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006771,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
others_similarity1 = pd.DataFrame(
    {
        'user-1' : others_similarity.idxmax().index,
        'user-2' : others_similarity.idxmax().values
    }
)

others_similarity1

     user-1  user-2
0       183  261379
1      1903   38281
2      2442   26813
3      3757  131126
4      5903   27788
..      ...     ...
260  274111   70999
261  275414   29117
262  276538   11676
263  276925   81207
264  277478  199092

[265 rows x 2 columns]

### Creating Function

In [ ]:
def create_result(s,x):
    ISBN = []
    rating = []

    for i in s[s['user-2'] == x].loc[:,'user-1']:
        for j in area[(area['User-ID'] == i)].index:
            k = area.loc[j,'ISBN']
            l = area.loc[j,'Book-Rating']
            ISBN.append(k)
            rating.append(l)

    result = pd.DataFrame(
        {
            'ISBN' : ISBN,
            'rating' : rating
        }
    )

    return result

In [ ]:
def get_ISBN(x):
    d = []
    for i in area[(area['User-ID'] == x)].loc[:,'ISBN'].values:
        d.append(i)
    
    return d

In [ ]:
def drop(a,b):

    drop = []

    for i in range(len(a)):
        for j in b:
            c = a.loc[i,'ISBN']
            if c == j:
                drop.append(i)

    return drop

In [ ]:
def fillter_ISBN(x, y):

    x.drop(index=y, inplace= True)
    x.drop_duplicates(inplace=True)

    return x

In [ ]:
def set_name(x):
    if book[book['ISBN'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['ISBN'] == x].loc[:,'Book-Title'].values[0]

In [ ]:
def set_Author(x):
    if book[book['ISBN'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['ISBN'] == x].loc[:,'Book-Author'].values[0]

In [ ]:
def set_Publisher(x):
    if book[book['ISBN'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['ISBN'] == x].loc[:,'Publisher'].values[0]

In [ ]:
def set_Image(x):
    if book[book['ISBN'] == x].shape[0] == 0:
        return np.nan
    else:
        return book[book['ISBN'] == x].loc[:,'Image-URL-L'].values[0]

In [ ]:
def predect(similarity,ISBN):

    o = create_result(similarity,ISBN)
    k = get_ISBN(ISBN)
    n = drop(o,k)
    e = fillter_ISBN(o,n)
    e = e.sort_values(by='rating', ascending= False).head(75)
    e['name'] = e['ISBN'].apply(lambda x: set_name(x))
    e['auther'] = e['ISBN'].apply(lambda x: set_Author(x))
    e['publisher'] = e['ISBN'].apply(lambda x: set_Publisher(x))
    e['image'] = e['ISBN'].apply(lambda x: set_Image(x))
    e.dropna(inplace=True)

    return e.sort_values(by='rating', ascending= False).head(5)

In [ ]:
df = predect(usa_similarity1,278854)

df

KeyError: 'User-ID'

In [ ]:
def get_detail(x):
    area = user[user['User_Id'] == x].loc[:,'area'].values[0]
    age = user[user['User_Id'] == x].loc[:,'age'].values[0]
    u_type = user[user['User_Id'] == x].loc[:,'type'].values[0]

    return area,age,u_type

In [150]:
get_detail(278854)

('usa', 'other', 'old')

In [ ]:
def pred(user_id):

    area = get_detail(user_id)[0]
    age = get_detail(user_id)[1]
    type = get_detail(user_id)[2]

    if age == 'Adult':
        df_area = predect(Adult_similarity1,user_id)

    if area == 'others':
        df_age = predect(others_similarity1,user_id)

    return df_area,df_age

In [156]:
ar,ag =pred(70999)

In [157]:
ag

,ISBN,rating,name,auther,publisher,image
42,0521010683,10,The Skeptical Environmentalist: Measuring the ...,Bjorn Lomborg,Cambridge University Press,http://images.amazon.com/images/P/0521010683.0...
33,0440300746,10,Again Calls the Owl,Margaret Craven,Dell Publishing Company,http://images.amazon.com/images/P/0440300746.0...
13,0140707077,10,Othello (New Penguin Shakespeare),William Shakespeare,Penguin Books,http://images.amazon.com/images/P/0140707077.0...
142,8877828528,10,Harry Potter E il Prigioniero D'Azkaban,J. K. Rowling,Distribooks,http://images.amazon.com/images/P/8877828528.0...
45,0553277472,10,Zen and the Art of Motorcycle Maintenance: An ...,ROBERT PIRSIG,Bantam,http://images.amazon.com/images/P/0553277472.0...

In [158]:
ar

,ISBN,rating,name,auther,publisher,image
21,0312978871,10,Shadows of Evil,Carlton Smith,St. Martin's Paperbacks,http://images.amazon.com/images/P/0312978871.0...
86,0679750789,10,The Tightwad Gazette II: Promoting Thrift As a...,Amy Dacyczyn,Random House Inc,http://images.amazon.com/images/P/0679750789.0...
2,0060566760,10,Hell at the Breech : A Novel,Tom Franklin,Perennial,http://images.amazon.com/images/P/0060566760.0...
98,0786006609,10,A Venom in the Blood (Pinnacle True Crime),Eric Hoffmann,Pinnacle Books,http://images.amazon.com/images/P/0786006609.0...
94,0765340143,10,Bloodtide,Melvin Burgess,Tor Books,http://images.amazon.com/images/P/0765340143.0...

In [ ]:
user[user['User_Id'] == 52350]

       User_Id    area    age type
52349    52350  others  Adult  old

## Creating Pickle File

In [ ]:
# pickle.dump(Adult_similarity1, open('age_adult.pkl','wb'))
# pickle.dump(Youngster_similarity1, open('age_young.pkl','wb'))
# pickle.dump(Other_similarity1, open('age_other.pkl','wb'))
# pickle.dump(Elder_similarity1, open('age_elder.pkl','wb'))
# pickle.dump(Teenager_similarity1, open('age_teen.pkl','wb'))
# pickle.dump(Children_similarity1, open('age_child.pkl','wb'))

In [ ]:
# pickle.dump(usa_similarity1, open('area_usa.pkl','wb'))
# pickle.dump(canada_similarity1, open('area_canada.pkl','wb'))
# pickle.dump(unitedkingdom_similarity1, open('area_uk.pkl','wb'))
# pickle.dump(australia_similarity1, open('area_australia.pkl','wb'))
# pickle.dump(germany_similarity1, open('area_germany.pkl','wb'))
# pickle.dump(others_similarity1, open('area_others.pkl','wb'))

In [ ]:
# pickle.dump(predect, open('Model','ab'))

In [ ]:
new_adult = new[new['Country'] =='adult']
new_youngster = new[new['Country'] =='youngster']
new_teenager = new[new['Country'] =='teenager']
new_elder = new[new['Country'] =='elder ']
new_children = new[new['Country'] =='children']
new_other = new.iloc[[0,26,34,36,42],:]

In [ ]:
pickle.dump(new_adult, open('new_adult.pkl','wb'))
pickle.dump(new_youngster, open('new_youngster.pkl','wb'))
pickle.dump(new_teenager, open('new_teenager.pkl','wb'))
pickle.dump(new_elder, open('new_elder.pkl','wb'))
pickle.dump(new_children, open('new_children.pkl','wb'))
pickle.dump(new_other, open('new_other.pkl','wb'))

In [ ]:
new_usa = new[new['Country'] =='usa ']
new_canada = new[new['Country'] =='canada']
new_uk = new[new['Country'] =='united kingdom ']
new_germany = new[new['Country'] =='germany ']
new_spain = new[new['Country'] =='spain ']
new_others = new.iloc[[0,1,3,4,17],:]

In [ ]:
pickle.dump(new_usa, open('new_usa.pkl','wb'))
pickle.dump(new_canada, open('new_canada.pkl','wb'))
pickle.dump(new_uk, open('new_uk.pkl','wb'))
pickle.dump(new_germany, open('new_germany.pkl','wb'))
pickle.dump(new_spain, open('new_spain.pkl','wb'))
pickle.dump(new_others, open('new_others.pkl','wb'))